@model List<BLL_core.DTO.ProductModel>
@using System.Globalization
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            padding-top: 50px;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

    <div id="container" style="width:1100px;margin:0 auto;">
        <h1 class="text-center">Корзина</h1>

        @if (Model != null)
        {
            if (Model.Count != 0)
            {
                <table class="table ">
                    <tr>
                        <th>Товар</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td> @product.Title </td>
                            <td>@String.Format(CultureInfo.CurrentCulture, "{0:C2}", product.Price)</td>
                            <td>
                                @product.Quantity
                            </td>
                            <td>
                                <form asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@product.Id">
                                    <input type="submit" value="Удалить" class=" btn btn-info ">
                                </form>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4">
                            <p class="text-center">Итого - @String.Format(CultureInfo.CurrentCulture, "{0:C2}", ViewBag.Total)</p>
                        </td>
                    </tr>
                </table>

                <div>
                    <a asp-controller="Order" asp-action="MakeOrder" class="btn-lg text-center">Сделать заказ</a>
                </div>
            }
            else
            {
                <h2 class="text-center">Ваша корзина пуста</h2>
            }
        }
        else
        {
            <h2 class="text-center">Ваша корзина пуста</h2>
        }
    </div>
</body>
</html>
