@using BLL_core.DTO
@model List<BLL_core.DTO.OrderModel>

    <div id="container" style="width:1100px;margin:0 auto;">
        <table class="table table-condensed">
            <tr>
                <th>Пользователь</th>
                <th>Дата заказа</th>
                <th>Статус заказа</th>
            </tr>

            @foreach (var order in Model)
            {
                <tr>
                    <td class="col-md-3"> @order.CustomerId </td>
                    <td class="col-md-3">@order.OrderDate</td>
                    <td class="col-md-3">@order.Status</td>
                    <td>
                        <form asp-controller="Admin" asp-action="ConfirmOrder" asp-route-id="@order.Id">
                            <input type="submit" class="btn btn-success" value="Принять" />
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Admin" asp-action="RejectOrder" asp-route-id="@order.Id">
                            <input type="submit" class="btn btn-danger" value="Отклонить" />
                        </form>
                    </td>
                </tr>
            }
        </table>
        </div>