<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
@using System.Globalization
@model BLL_core.DTO.ProductModel
@{
    var rowId = (int)ViewData["RowId"];
    var buttonId = "btnAddToCart" + rowId;
    var quantityInputId = "inputQuantity" + rowId;
}
<td class="col-md-3">  @Model.Title </td>
<td class="col-md-2">@Model.Supplier.CompanyName</td>
<td class="col-md-2">@String.Format(CultureInfo.CurrentCulture, "{0:C2}", Model.Price)</td>
<td class="col-md-3"><image src="@Model.Image" width="200"></image></td>
<td class="col-md-2">

    <input type="number" id="@quantityInputId" min="1" value="0" />
    <input type="button" id="@buttonId" class="btn btn-link " value="Добавить в корзину" />
</td>

<script type="text/javascript">
    $("#@buttonId").click(function () {
        var quant = $("#@quantityInputId").val();
        var json = { Id: "@Model.Id", Quantity: quant };
        $.ajax({
            type: "post",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(json),
            url: "/ShoppingCart/AddToCart",
            success: function (data) {
                alert(data);
            },
            error: function (result) {
                alert("Something went wrong");
            },
        });

    });
</script>
